<div class="card">
  <div class="card-header">
    <h4> <%= render @friend %> </h4>
  </div>
  <div class="card-body">
    <%= link_to "Edit this friend", edit_friend_path(@friend), class:'btn btn-secondary btn-sm' %> 
  <%= link_to "Back to friends", friends_path,class:'btn btn-dark btn-sm' %>
<hr class="my-4">

<%= button_to "Delete this friend", @friend, method: :delete, class: 'btn btn-outline-danger btn-sm' %>
  </div>
</div>
